<!doctype html>

<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>folk</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>

  <div class="grid" id="container">
    <div class="menu grid_field-unit">
        <a class="logo" href="/">folk.deichman.no</a>
        <input class="search" type="text" placeholder="søk" />
        <select class="select-avd">
          <option value="avd-alle">Hele Deichman</option>
          {{range $p := .Departments}}
          <option id="{{$p.ID}}" value="avd-{{$p.ID}}">{{$p.Name}}</option>
            {{range $d := $p.Depts}}
            <option id="{{$d.ID}}" value="avd-{{$d.ID}} avd-{{$p.ID}}">&nbsp;&nbsp;{{$d.Name}}</option>
            {{end}}
          {{end}}
        </select>
    </div>

    <div class="grid_field-unit">
      <table class="folk_table">
        <thead>
          <tr>
            <th class="td-short">ID</th>
            <th class="td-medium">Navn</th>
            <th class="td-medium">E-post</th>
            <th class="td-medium">Avdeling</th>
            <th class="td-medium">Bilde</th>
            <th class="td-medium">Endringer</th>
            <th class="td-info">Tilbakemeldinger</th>
          </tr>
        </thead>
        <tbody class="p_ny">
          <tr>
            <td></td>
            <td><input class="p_navn" type="text" placeholder="navn"/></td>
            <td><input class="p_epost" type="text" placeholder="e-post adresse"></td>
            <td>
              <select class="select-avd">
                {{range $p := .Departments}}
                <option value="avd-{{$p.ID}}">{{$p.Name}}</option>
                  {{range $d := $p.Depts}}
                  <option value="avd-{{$d.ID}}">&nbsp;&nbsp;{{$d.Name}}</option>
                  {{end}}
                {{end}}
              </select>
            </td>
            <td><input id="p_ny_fil" type="file" accept="image/*"></td>
            <td><button id="p_legg_til" disabled="disabled">Legg til ny ansatt</button></td>
            <td class="td-info"></td>
          </tr>
        </tbody>

        <tbody class="p_eksisterende">
          <tr class="invisible">
            <td class="p_id">1</td>
            <td><input class="p_navn" type="text" placeholder="navn" value="Petter Goks" /></td>
            <td><input class="p_epost" type="text" placeholder="e-post adresse" value="petter@dott.com" /></td>
            <td>
              <select class="select-avd">
                {{range $p := .Departments}}
                <option value="avd-{{$p.ID}}">{{$p.Name}}</option>
                  {{range $d := $p.Depts}}
                  <option value="avd-{{$d.ID}}">&nbsp;&nbsp;{{$d.Name}}</option>
                  {{end}}
                {{end}}
              </select>
            </td>
            <td>
              <select class="p_bilde">
                {{range .Images}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
              </select>
            </td>
            <td><button class="p_lagre">Lagre</button><button class="p_slett">Slett</button></td>
            <td class="td-info"></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <script>
    $("document").ready(function() {
      // Populate table
      $.getJSON("/api/person?page=1", function(data) {
        $.each(data.Hits, function(i, p) {
          var $tr = $('.p_eksisterende tr:first').clone();
          $tr.find('.p_id').html(p.ID);
          $tr.find('.p_navn').val(p.Data.Name);
          $tr.find('.p_epost').val(p.Data.Email);
          $tr.find('.select-avd').val('avd-'+p.Data.Department);
          $tr.find('.p_bilde').val(p.Data.Img);
          $tr.removeClass('invisible');
          $('.p_eksisterende').append($tr);
        });
      });
      $('.folk_table').on('hover', 'select option', function(){
              console.log( 'Hover on:' + $(this).html());
      });

      // Enable 'legg til ny ansatt' button when name+email fields are filled.
      $('.p_ny input').on('keyup',  function() {
        var navn = $('.p_ny').find('.p_navn:first').val();
        var epost = $('.p_ny').find('.p_epost:first').val();
        if (navn !== "" && epost !== "" ) {
          $('#p_legg_til').prop('disabled', false);
        } else {
          $('#p_legg_til').prop('disabled', true);
        }
      });

      // Add person
      $('#p_legg_til').on('click', function() {
        var dept = parseInt($('.p_ny').find('select option:selected').val().substr(4));
        var req = $.ajax({
          url: '/api/person',
          type: 'POST',
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify({
            Name: $('.p_ny').find('.p_navn:first').val(),
            Email: $('.p_ny').find('.p_epost:first').val(),
            Department: dept,
            Img: $('#p_ny_fil').val().split(/\\|\//).pop() // Split on \|/ to get only filname without path
          }),
          dataType: 'json'
        });

        req.done(function(data, textStatus, XMLHttpRequest) {
          var $tr = $('.p_eksisterende tr:first').clone();
          $tr.find('.p_id').html(data.ID);
          $tr.find('.p_navn').val(data.Data.Name);
          $tr.find('.p_epost').val(data.Data.Email);
          $tr.find('.select-avd').val('avd-'+data.Data.Department);
          $tr.find('.p_bilde').val(data.Data.Img);
          $tr.removeClass('invisible');
          $('.p_eksisterende').prepend($tr);

          // clear the add person form fields
          $('.p_ny input').val("");
          $('.p_ny').find('.td-info').html('');
          $('#p_legg_til').prop('disabled', true);
          $('.p_ny select').val('avd-1');
        });

        req.fail(function(jqXHR, textStatus, errThrown) {
          $('.p_ny').find('.td-info').html(jqXHR.responseJSON.description);
        });
      });

      // Delete person
      $(".folk_table").on('click', '.p_slett', function() {
          if ( ! window.confirm("Er du sikker?") ) {
          return;
        }
        var $tr = $(this).parents("tr");
        $tr.find(".td-info").html('<img src="/data/img/loading.gif">');
        var id = $tr.find('.p_id').html();
        req = $.ajax({
          url: '/api/person/'+ id,
          type: 'DELETE'
        });

        req.done(function(data, textStatus, XMLHttpRequest) {
          $tr.remove();
        });

        req.fail(function(jqXHR, textStatus, errThrown) {
          $tr.find('.td-info').html(jqXHR.responseJSON.description);
        });
      });

      // Save person
      $(".folk_table").on('click', '.p_lagre', function() {
        var $tr = $(this).parents("tr");
        $tr.find(".td-info").html('<img src="/data/img/loading.gif">');
        var dept = parseInt($tr.find('select option:selected').val().substr(4));
        var id = $tr.find('.p_id').html();
        var req = $.ajax({
          url: '/api/person/'+id,
          type: 'PATCH',
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify({
            Name: $tr.find('.p_navn').val(),
            Email: $tr.find('.p_epost').val(),
            Department: dept,
            Img: $tr.find('.p_bilde').val().split(/\\|\//).pop() // Split on \|/ to get only filname without path
          }),
          dataType: 'json'
        });

        req.done(function(data, textStatus, XMLHttpRequest) {
          console.log(data);
          $tr.find('.td-info').html("OK, lagret.");
        });

        req.fail(function(jqXHR, textStatus, errThrown) {
          $tr.find('.td-info').html(jqXHR.responseJSON.description);
        });
      });

      //
      $(".folk_table").on('keyup', 'input', function() {
        var $tr = $(this).parents("tr");
        if ( $tr.find('.p_navn').val() === "" || $tr.find('.p_epost').val() === "" ) {
          $tr.find('.p_lagre').prop("disabled", true);
        } else {
          $tr.find('.p_lagre').prop("disabled", false);
        }
      });

      // upload file
      $('#p_ny_fil').on('change', function(e) {
        var file = this.files[0];
        if ( file == "" ) {
          return;
        }
        var mimeType=this.files[0].type;
        if (file.size > (2 * 1024 * 1024) ) {
          $('.p_ny').find('.td-info').html('max image size: 2 MB');
          return;
        }
        if ( !mimeType.match(/(png|jpeg)$/) )  {
          $('.p_ny').find('.td-info').html('only image/jpeg or image/png please');
          return;
        }
        var fd = new FormData;
        fd.append('photo1', file);
        var xhr = new XMLHttpRequest();
        xhr.addEventListener('progress', function(e) {
            var done = e.position || e.loaded, total = e.totalSize || e.total;
            console.log('xhr progress: ' + (Math.floor(done/total*1000)/10) + '%');
        }, false);
        if ( xhr.upload ) {
            xhr.upload.onprogress = function(e) {
                var done = e.position || e.loaded, total = e.totalSize || e.total;
                $('.p_ny').find('.td-info').html((Math.floor(done/total*1000)/10) + '%');
                //console.log('xhr.upload progress: ' + done + ' / ' + total + ' = ' + (Math.floor(done/total*1000)/10) + '%');
            };
        }
        xhr.onreadystatechange = function(e) {
            if ( 4 == this.readyState ) {
                $('.p_ny').find('.td-info').html('100% OK');
                // add filename to dropdowns
                $('.p_bilde option[value="'+file.name +'"]');
                $('.p_bilde').append($('<option>', {
                  value: file.name,
                  text: file.name
                }));
            }
        };
        xhr.open('post', "/upload", true);
        xhr.send(fd);
      });
    });
  </script>
</body>
</html>
