<!doctype html>

<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>folk</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>

  <div class="grid m-grid--divide-2 l-grid--divide-3" id="container">
    <div class="menu grid_field-unit">
        <span class="logo"><strong>folk.deichman.no</strong></span>
        <input class="search" type="text" placeholder="søk" />
        <select class="select-avd">
          <option value="avd-alle">Hele Deichman</option>
          {{range $p := .Departments}}
          <option value="avd-{{$p.ID}}">{{$p.Name}}</option>
            {{range $d := $p.Depts}}
            <option value="avd-{{$p.ID}} avd-{{$d.ID}}">&nbsp;&nbsp;{{$d.Name}}</option>
            {{end}}
          {{end}}
        </select>
    </div>
    <div class="grid_unit active russekort avd-4">
      <div class="russeinfo">
        <img src="/data/img/putin.jpg" class="russebilde">
        <strong><a href="mailto:petter@dott.com">Mr Putin</a></strong><br>
        <input type="text" class="edit-m" value="President" placeholder="stilling" />
        <input type="text" class="edit-m" value="Grünerløkka" placeholder="avdeling" /><br>
        <input type="text" class="edit-m" value="99432343" placeholder="telefon" /><br>
        <textarea rows="2" cols="24" class="edit-l">Liker jakt og fiske. Nyskilt og klar for nye eventyr.</textarea><br>
        <div class="edit-actions"><a>avbryt</a> / <a>lagre</a></div>
      </div>
    </div>

    <div class="grid_unit inactive russekort avd-3">
      <div class="russeinfo">
        <img src="/data/img/putin.jpg" class="russebilde">
        <strong><a href="mailto:petter@dott.com">Mr Putin</a></strong><br>
        <em>President, Bøler</em><br>
        &#9742; 12312123<br>
        Liker jakt og fiske. Nyskilt og klar for nye eventyr.<br>
        <span class="edit"><a>endre</a></span>
      </div>
    </div>
    <div class="grid_unit inactive russekort avd-2">
      <div class="russeinfo">
        <img src="/data/img/putin.jpg" class="russebilde">
        <strong><a href="mailto:petter@dott.com">Mr Putin</a></strong><br>
        <em>President, Bjerke</em><br>
        &#9742; 12312123<br>
        Liker jakt og fiske. Nyskilt og klar for nye eventyr.<br>
        <span class="edit"><a>endre</a></span>
      </div>
    </div>
    <div class="grid_unit inactive russekort avd-1">
      <img src="/data/img/putin.jpg" class="russebilde">
        <strong><a href="mailto:petter@dott.com">Mr Putin</a></strong><br>
        <div class="russeinfo">
        <em>President, Musikkavdelingen</em><br>
        &#9742; 12312123<br>
        Liker jakt og fiske. Nyskilt og klar for nye eventyr.<br>
        <span class="edit"><a>endre</a></span>
      </div>
    </div>
    <div class="grid_unit inactive russekort avd-2">
      <div class="russeinfo">
        <img src="/data/img/putin.jpg" class="russebilde">
        <strong><a href="mailto:petter@dott.com">Mr Putin</a></strong><br>
        <em>President, Bjerke</em><br>
        &#9742; 12312123<br>
        Liker jakt og fiske. Nyskilt og klar for nye eventyr.<br>
        <span class="edit"><a>endre</a></span>
      </div>
    </div>

    <div class="grid_unit inactive russekort avd-4">
      <div class="russeinfo">
        <img src="/data/img/putin.jpg" class="russebilde">
        <strong><a href="mailto:petter@dott.com">Mr Putin</a></strong><br>
        <em>President, Majorstua</em><br>
        &#9742; 12312123<br>
        Liker jakt og fiske. Nyskilt og klar for nye eventyr.<br>
        <span class="edit"><a>endre</a></span>
      </div>
    </div>
  </div>

  <script>
    $("document").ready(function() {
      $('.select-avd').on('change', function() {
        var selected = $('.select-avd').val();
        if (selected === 'avd-alle') {
          $('.russekort').show();
        } else {
          $('.russekort').hide();
          $('.'+selected).show();
        }
      });
    });
  </script>
</body>
</html>
