<!doctype html>

<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>folk</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>

  <div class="grid m-grid--divide-2 l-grid--divide-3" id="container">
    <div class="menu grid_field-unit">
        <span class="logo"><strong>folk.deichman.no</strong></span>
        <input id="search" class="search" type="text" placeholder="søk" />
        <select class="select-avd">
          <option value="avd-alle">Hele Deichman</option>
          {{range $p := .Departments}}
          <option value="avd-{{$p.ID}}">{{$p.Name}}</option>
            {{range $d := $p.Depts}}
            <option value="avd-{{$p.ID}} avd-{{$d.ID}}">&nbsp;&nbsp;{{$d.Name}}</option>
            {{end}}
          {{end}}
        </select>
    </div>

    <div class="grid_unit inactive soonrussekort">
      <div class="russeinfo">
        <img src="/data/img/putin.jpg" class="russebilde">
        <strong><a class="p_name" href="mailto:petter@dott.com">Mr Putin</a></strong><br>
        <em><span class="p_role">President</span>, <span class="p_dept">Bøler</span></em><br>
        &#9742; <span class="p_phone">12312123</span><br>
        <span class="p_info">Liker jakt og fiske. Nyskilt og klar for nye eventyr.</span><br>
        <span class="edit"><a>endre</a></span>
      </div>
    </div>

  </div>

  <script>
  // http://underscorejs.org/docs/underscore.html#section-67
  var debounce = function(func, wait, immediate) {
    var timeout, args, context, timestamp, result;
    return function() {
      context = this;
      args = arguments;
      timestamp = new Date();
      var later = function() {
        var last = (new Date()) - timestamp;
        if (last < wait) {
          timeout = setTimeout(later, wait - last);
        } else {
          timeout = null;
          if (!immediate) result = func.apply(context, args);
        }
      };
      var callNow = immediate && !timeout;
      if (!timeout) {
        timeout = setTimeout(later, wait);
      }
      if (callNow) result = func.apply(context, args);
      return result;
    };
  };

  function searchFolks() {
    var q = $.trim( $('#search').val() );
    if (q === "" ) {
      $('.russekort').remove();
     return;
   }
    $.getJSON("/api/person?q="+q, function(data) {
      if (data.Count == 0) {
        $('.russekort').remove();
       return;
      }
      $('.russekort').remove();
      console.log(data);
      $.each(data.Hits, function(i, p) {
          var $tr = $('.soonrussekort:first').clone();
          $tr.removeClass('soonrussekort').addClass('russekort');
          $tr.find('.russebilde').attr('src', "/data/img/"+p.Data.Img);
          $tr.find('.p_name').text(p.Data.Name).attr("href", "mailto:"+p.Data.Email);
          $tr.find('.p_role').text(p.Data.Role);
          $tr.find('.p_dept').text(p.Data.Department);
          $tr.find('.p_phone').text(p.Data.Phone);
          $tr.find('.p_info').text(p.Data.Info);

           $('#container').append($tr);
        });
    });
   }

    $("document").ready(function() {
      $('.select-avd').on('change', function() {
        var selected = $('.select-avd').val();
        if (selected === 'avd-alle') {
          $('.russekort').show();
        } else {
          $('.russekort').hide();
          $('.'+selected).show();
        }
      });

      $('#search').on('keyup', debounce(searchFolks, 50)); // only fire search after 50 ms

    });
  </script>
</body>
</html>
